<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row filter_srch_from">
                <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">TRANSMISSION TYPE</h6>
                </div>
                <div class="col-md-6 text-right add_btn">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addUpdateVehicleTypeModal">
            <span class="fas fa-plus"></span> Add Transmission Type
          </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Block/UnBlock</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <div class="progress-loader" [hidden]="!loading">
                        <mat-progress-spinner class="spinner" [color]="color" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <tbody>
                        <tr *ngFor="let item of transmissionTypeList; let i = index">
                            <td>{{ i + serialNumber + 1 }}</td>
                            <td>{{ item.transmissionTypeName }}</td>
                            <td>
                                <ui-switch labelOn="ON" switchColor="#4e73df" id="isActive" [(ngModel)]="item.isBlocked" (click)="changeblockStatus(item)" name="isActive" labelOff="OFF"></ui-switch>
                            </td>
                            <td>{{ item.createdAt | date: "yyyy-MM-dd" }}</td>
                            <td>
                                <div class="product_action">
                                    <button class="btn btn-primary mr-1" title="Edit" (click)="modalComponent.onEditSelect(item)">
                    <span class="fas fa-fw fa-edit"></span>
                  </button>
                                    <button class="btn btn-danger" title="Delete" (click)="deleteTransmissionType(item)">
                    <span class="fas fa-fw fa-trash"></span>
                  </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 *ngIf="!transmissionTypeList?.length" class="text-center">
                    No records found.
                </h4>
            </div>
            <pagination [totalItems]="totalItems" [maxSize]="05" (pageChanged)="pageChange($event)"></pagination>
        </div>
    </div>
</div>
<app-transmissiontype-modal [isEdit]="flags.isEdit" (onAddEdit)="getTransmissionType()"></app-transmissiontype-modal>