<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row filter_srch_from">
                <div class="filter_srch_item">
                    <h6 class="m-0 font-weight-bold text-primary">Contact Us</h6>
                </div>
                <div class="filter_srch_item">
                    <input type="text" class="form-control" name="search" [(ngModel)]="selectedContact" placeholder="Search by Name,email" />
                </div>
                <div class="filter_srch_item">
                    <button type="submit" class="btn btn-primary pl-4 pr-4" (click)="searchDriver()">
            Search
          </button>
                    <button type="reset" class="btn btn-primary pl-4 pr-4 ml-2" (click)="reset()">
            Reset
          </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <!-- <th>Is Blocked</th> -->
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <div class="progress-loader" [hidden]="!loading">
                        <mat-progress-spinner class="spinner" [color]="color" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <tbody>
                        <tr *ngFor="let item of contactList; let i = index">
                            <td>{{ i + serialNumber + 1 }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.email }}</td>
                            <td class="description">{{ item.subject }}</td>
                            <td>{{ item.message }}</td>
                        </tr>
                    </tbody>
                </table>
                <h4 *ngIf="!contactList?.length" class="text-center">
                    No records found.
                </h4>
            </div>
            <pagination [totalItems]="totalItems" [maxSize]="05" (pageChanged)="pageChange($event)"></pagination>
        </div>
    </div>
</div>
<!-- <app-vehicle-modal  [documents]="selectedDocument"></app-vehicle-modal>  -->