<div class="container-fluid service_type">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row filter_srch_from">
                <div class="col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">SERVICE TYPE</h6>
                </div>
                <div class="col-md-6 col-xs-12 text-right add_btn">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addUpdateServiceTypeModal">
            <span class="fas fa-plus"></span> Add Service Type
          </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Service Type</th>
                            <th>Base Fare</th>
                            <th>Note</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <div class="progress-loader" [hidden]="!loading">
                        <mat-progress-spinner class="spinner" [color]="color" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <tbody>
                        <tr *ngFor="let item of serviceTypeList; let i = index">
                            <td>{{ i + serialNumber + 1 }}</td>
                            <td>
                                <img [src]="imageurl + item.image" style="width: 70px; height: 70px" alt="" />
                            </td>
                            <td>{{ item.serviceName }}</td>
                            <td>{{ item.baseFare }}</td>
                            <td>{{ item.note }}</td>
                            <td>
                                <div class="product_action">
                                    <button class="btn btn-primary mr-1" title="Edit" (click)="modalComponent.onEditSelect(item)">
                    <span class="fas fa-fw fa-edit"></span>
                  </button>
                                    <button class="btn btn-danger" title="Delete" (click)="deleteServiceType(item._id)">
                    <span class="fas fa-fw fa-trash"></span>
                  </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 *ngIf="!serviceTypeList?.length" class="text-center">
                    No records found.
                </h4>
            </div>
            <pagination [totalItems]="totalItems" [maxSize]="05" (pageChanged)="pageChange($event)"></pagination>
        </div>
    </div>
</div>
<app-servicetype-modal [isEdit]="flags.isEdit" (onAddEdit)="getServiceType()"></app-servicetype-modal>