.choosefile {
    border-radius: 50%;
    border: 1px solid black;
    height: 100px;
    width: 104px;
    position: absolute;
    top: 15%;
    left: 27%;
    opacity: 0;
}

.form-group {
    margin-bottom: 3rem;
}

@media (max-width: 767px) {
    .form-group {
        margin-bottom: 1rem;
    }
}