<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="save()">
        <div class="row">
            <div class="col-md-12">
                <h4>{{ id ? 'Edit' : 'Add' }} Subadmin</h4>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block">Name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <p class="errors" *ngIf="isSubmitted && form.get('name').hasError('required')">This field is required</p>
                </div>
            </div>
            <div class="col-md-6">
                <label class="d-block">Email</label>
                <input type="text" formControlName="email" class="form-control"> 
                <p class="errors" *ngIf="isSubmitted && form.get('email').hasError('email')">Please enter a valid email</p>
                <p class="errors" *ngIf="isSubmitted && form.get('email').hasError('required')">This field is required</p>
            </div>
            <div class="col-md-6">
                <label class="d-block">Role</label>
                <select class="form-control" formControlName="role">
                    <option *ngFor="let role of roles" [value]="role._id">{{ role.name }}</option>
                </select>
                <p class="errors" *ngIf="isSubmitted && form.get('minRides').hasError('required')">This field is required</p>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="d-block">Profile Image</label>
                    <input class="form-control" type="file" (change)="onImageSelect($event)" id="badge" accept=".png, .jpg, .jpeg">
                    <div *ngIf="image">
                        <img src="{{image}}" width="100px" height="100px">
                    </div>
                <p class="errors" *ngIf="isSubmitted && form.get('image').hasError('required')">This field is required</p>
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <button class="btn btn-primary" role="form" type="submit">{{ id ? 'Update' : 'Add'}}</button>
            </div>
        </div>
    </form>
</div>