.filter_srch_item:nth-child(2) {
    width: 95%;
    margin-right: 0px;
    display: flex;
}

.filter_srch_item:nth-child(2) .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
}

@media (max-width: 1600px) {
    .filter_srch_item:nth-child(2) {
        width: 92%;
    }
}

@media (max-width: 1100px) {
    .filter_srch_item:nth-child(2) {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .filter_srch_item:nth-child(2) div {
        width: 100%;
        box-sizing: border-box;
    }
    .filter_srch_item:nth-child(2) div select {
        margin-bottom: 11px;
    }
}

@media (max-width: 600px) {
    .filter_srch_item:nth-child(2) {
        width: 100%;
    }
    .add_btn {
        margin-top: 0px;
    }
}