<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-9 filter_srch_from">
                    <div class="filter_srch_item">
                        <h6 class="m-0 font-weight-bold text-primary">Sub Admin</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <a routerLink="/wingmen/sub-admin/add" class="btn ml-1 btn-primary float-right">Add</a>
                    <!-- <a routerLink="/wingmen/roles" class=" btn btn-primary float-right">Roles</a> -->
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <!-- <th>Access</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <div class="progress-loader" [hidden]="!loading">
                        <mat-progress-spinner class="spinner" [color]="color" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>
                    <tbody>
                        <tr *ngFor="let item of subadmins">
                            <td>{{ item?.name }}</td>
                            <td>{{ item?.email }}</td>
                            <!-- <td>{{ item?.role }}</td> -->
                            <td>
                                <div class="row">
                                    <div class="product_action">
                                        <button routerLink="/wingmen/sub-admin/add/{{item._id}}" class="btn btn-primary">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </div> &nbsp;&nbsp;
                                    <div class="product_action">
                                        <button (click)="delete(item?._id)" class="btn btn-primary">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                               
                            </td>
                        </tr>
                        <tr *ngIf="!subadmins.length">
                            <td colspan="3" class="text-center">No items found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination [totalItems]="totalItems" [maxSize]="05" (pageChanged)="pageChange($event)"></pagination>
        </div>
    </div>
</div>
<app-booking-modal [requestId]="bookingId" [driverList]="availableDriver" [user]="userDetail" [stop]="stops"
    [driver]="driverDetail" [vehicle]="vehicleDetail" (onDriverAssign)="getallBooking()" [DriverReview]="driverReview">
</app-booking-modal>