<div class="row">
    <!-- Column -->
  
  
    <div class="col-lg-12">
      <div class="card">
  
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <form >
                <div class="mb-2">
                    <input type="text" class="form-control" id="prenametext" placeholder="Search">
                </div>
            </form>
            </div>
            <div class="col-md-8 d-flex  justify-content-end">
              <!-- <div ngbDropdown class="d-inline-block mb-2 mr-2">
                <button class="btn  btn-primary text-white" id="dropdownBasic1" ngbDropdownToggle>
                  Status
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button class="dropdown-item">Active</button>
                  <button class="dropdown-item">Inactive</button>
                </div>
              </div>                            -->
              <a routerLink="/wingmen/user-add" class="btn btn-primary mb-2" ><i class="sl-icon-plus"></i> Add </a>
            </div>
            <div class="table-responsive">
              <table class="table v-middle product-overview" id="zero_config">
                <thead>
                  <tr>                    
                    <th>Image</th>                                    
                    <th>Name</th>                                    
                    <th>Contact</th>                     
                    <th>Email</th>                     
                    <th>Status</th>  
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span class="nowrap"> <img src="assets/img/sub.jpg" alt="" width="60px"> </span></td>                 
                    <td><span class="nowrap"> Ronny </span></td>                 
                   <td><span class="text-nowrap">+91-7858485474</span></td>
                   <td class="text-nowrap">Ronny@example.com</td>                               
                    <td> 
                        status                   
                        <!-- <div ngbDropdown class="d-inline-block " container="body">
                          <button class="btn btn-outline-primary btn-sm " id="dropdownBasic1" ngbDropdownToggle>
                            Status
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item">Active</button>
                            <button class="dropdown-item">Inactive</button>
                          </div>
                        </div>          -->
                      </td>
                    <td>
                        <a routerLink="/pages/manage_admin_form" class="btn btn-primary" ><i _ngcontent-axh-c146=""
                            class="ti-marker-alt"></i> </a>
                        <button class="btn btn-danger ml-2"><i class="ti-trash"></i>
                          </button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
    </div>
  
  