<div class="container-fluid">
   
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="m-0 font-weight-bold text-primary">ADD VEHICLE</h6>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary" (click)="history.back()"><span
                                    class="fas fa-arrow-left"></span> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="card-body">   <!-- *ngIf="body" -->
            <form [formGroup]= "vehicleForm">
<div class="row">
<div class="col-md-6">
    <div class="form-group">
        <label>Image</label><br>
        <label class="file">
            <input type="file" (change)="onImageSelect($event)" id="userfile"
                accept=".png, .jpg, .jpeg" name="vehicleImage">
        </label>
        <div *ngIf="src" class="mt-2"> 
            <img [src]="src" width="100px" height="100px">
        </div>
        <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['vehicleImage'].errors?.required">
            This field is required</p>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label>Insurance Documents</label><br>
        <label class="file">
            <input type="file" (change)="onInsuranceSelect($event)" id="userfile"
                accept=".png, .jpg, .jpeg" name="insuranceDocuments">
        </label>
        <div *ngIf="src" class="mt-2"> 
            <img [src]="insurance" width="100px" height="100px">
        </div>
        <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['insuranceDocuments'].errors?.required">
            This field is required</p>
    </div>
</div>
</div>
               
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Vehical Registration</label><br>
            <label class="file">
                <input type="file" (change)="onRegistrationSelect($event)" id="userfile"
                    accept=".png, .jpg, .jpeg" name="vehicalRegistration">
            </label>
            <div *ngIf="src" class="mt-2"> 
                <img [src]="registration" width="100px" height="100px">
            </div>
            <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['vehicalRegistration'].errors?.required">
                This field is required</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Driving Certificate</label><br>
            <label class="file">
                <input type="file" (change)="ondrivingLicense($event)" id="userfile"
                    accept=".png, .jpg, .jpeg" name="drivingCertificate">
            </label>
            <div *ngIf="src" class="mt-2"> 
                <img [src]="driving" width="100px" height="100px">
            </div>
            <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['drivingCertificate'].errors?.required">
                This field is required</p>
        </div>
    </div>
    </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Vehicle Name</label>
                            <input type="text" formControlName="vehicleName"  maxlength="50"
                                class="form-control" (keydown.space)="$event.preventDefault()">
                                <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['vehicleName'].errors?.required">
                                    This field is required</p>
                            </div>                    
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Vehicle Model</label>
                            <input type="text" formControlName="vehicleModel"  maxlength="50"
                                class="form-control" (keydown.space)="$event.preventDefault()">
                                <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['vehicleModel'].errors?.required">
                                    This field is required</p>
                            </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Vehicle Type</label>
                            
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="vehicleTypeId">
                                    <option value="" selected>Vehicle Type</option>
                                    <option [value]="item?._id" *ngFor="let item of vehicleTypeList">{{item?.vehicleTypeName}}</option>
                                    
                                  </select>
                                  <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['vehicleTypeId'].errors?.required">
                                    This field is required</p>
                        </div>                    
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Transmission Type</label>
        
                                <select class="form-control" id="exampleFormControlSelect1" formControlName="transmissionTypeId">
                                    <option value="" selected>Transmission Type</option>
                                    <option [value]="item?._id" *ngFor="let item of getTransmissionType">{{item?.transmissionTypeName}}</option>
                                    
                                  </select>
                                  <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['transmissionTypeId'].errors?.required">
                                    This field is required</p>
                            </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Color</label>
                            <input type="text" formControlName="color" (keydown.space)="$event.preventDefault()" maxlength="50"
                                class="form-control">
                                <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['color'].errors?.required">
                                    This field is required</p>
                            </div>                    
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>State</label>
                            <input type="text" formControlName="state" (keydown.space)="$event.preventDefault()" maxlength="50"
                                class="form-control">
                                <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['state'].errors?.required">
                                    This field is required</p>
                        </div>                    
                    </div>
                    <div class="col-md-12">
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineCheckbox1">Is Hybrid</label>&nbsp;&nbsp;
                            <input class="form-check-input" (keydown.space)="$event.preventDefault()" formControlName="isHybrid" type="checkbox" id="inlineCheckbox1" value="option1">
                            
                          </div>
                          <div class="form-check form-check-inline">
                            <label class="form-check-label" for="inlineCheckbox1">Is Electric</label>&nbsp;&nbsp;
                            <input class="form-check-input" formControlName="isElectric" type="checkbox" id="inlineCheckbox2" value="option2">
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Plate Number</label>
                            <input type="text" formControlName="plateNumber" maxlength="50" (keydown.space)="$event.preventDefault()"
                                class="form-control">
                                <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['plateNumber'].errors?.required">
                                    This field is required</p>
                            </div>                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Vehicle make</label>
                            <input type="text" formControlName="vehicleMake" maxlength="50" (keydown.space)="$event.preventDefault()"
                                class="form-control">
                                <p class="text-danger" *ngIf="isSubmitted && vehicleForm.controls['vehicleMake'].errors?.required">
                                    This field is required</p>
                        </div>                    
                    </div>
                     <!-- <div class="col-md-3">
                        <div class="form-group" style="text-align:center">
                             <label class="file">
                                <button class="btn btn-primary" onclick="document.getElementById('getIns').click()">Choose Insurance</button>
                                <input type="file" id="getIns"  style="display:none" name="foo" (change)="getInsuance($event)" accept=
                                "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                text/plain, application/pdf, image/*">                    
                            </label><br>
                
                        </div>                    
                    </div>

                    <div class="col-md-3">
                        <div class="form-group" style="text-align: center;">
                             <label class="file">
                                <button class="btn btn-primary" onclick="document.getElementById('permit').click()">Choose Permit</button>
                                <input type="file" id="permit" style="display:none" name="foo" (change)="getPermit($event)" accept=
                                "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                text/plain, application/pdf, image/*">                    
                            </label>
                             
                        </div>                    
                    </div>
                   <div class="col-md-3">
                        <div class="form-group" style="text-align: center;">
                            <label class="file">
                            <button class="btn btn-primary" onclick="document.getElementById('license').click()">Choose License</button>
                                <input type="file" id="license" style="display:none" name="foo" (change)="getlicense($event)" accept=
                                "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                text/plain, application/pdf, image/*">                    
                            </label><br>
                             
                        </div>                    
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" style="text-align: center;">
                            <label class="file">
                            <button class="btn btn-primary" onclick="document.getElementById('reg').click()">Choose Registration</button>
                                <input type="file" id="reg" style="display:none" name="foo" (change)="getReg($event)" accept=
                                "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                text/plain, application/pdf, image/*">                    
                            </label><br>
                             
                        </div>                    
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group" style="text-align: center;">
                            <label class="file">
                            <button class="btn btn-primary" onclick="document.getElementById('reg').click()">Choose Driver Certificate</button>
                                <input type="file" id="reg" style="display:none" name="foo" (change)="getCertificate($event)" accept=
                                "application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
                                text/plain, application/pdf, image/*">                    
                            </label><br>
                           
                        </div>                    
                    </div> -->
                    <!-- <div class="col-md-9"></div> -->
                 <div class="col-md-3">
                    <div class="form-group" style="text-align:center">
                        <label class="file">
                            <input type="file" name="carLeftImage" class="choosefile" (change)="leftImageSelect($event)" id="userfile"
                                accept=".png, .jpg, .jpeg">
                        </label>
                        <div *ngIf="src" class="mt-2"> 
                            <img [src]="leftImage" width="100px" height="100px">
                        </div>
                        <label>Left Image</label> 
                    </div>
                 </div>

                 <div class="col-md-3">
                    <div class="form-group" style="text-align:center">
                      
                        <label class="file">
                            <input type="file" class="choosefile" name="carRightImage" (change)="rightImageSelect($event)" id="userfile"
                                accept=".png, .jpg, .jpeg">
                        </label>
                        <div *ngIf="src" class="mt-2"> 
                            <img [src]="rightImage" width="100px" height="100px">
                        </div>
                        <label>Right Image</label><br>
                    </div>
                 </div>

                 <div class="col-md-3" style="text-align:center">
                    <div class="form-group">
                        <label class="file">
                            <input type="file" class="choosefile" name="carFrontImage" (change)="frontImageSelect($event)" id="userfile"
                                accept=".png, .jpg, .jpeg">
                        </label>
                        <div *ngIf="src" class="mt-2"> 
                            <img [src]="frontImage" width="100px" height="100px">
                        </div>
                        <label>Front Image</label><br>
                        
                    </div>
                 </div>

                 <div class="col-md-3" style="text-align:center">
                     <div class="form-group">
                        <label class="file">
                            <input type="file" class="choosefile" name="carBackImage" (change)="backImageSelect($event)" id="userfile"
                                accept=".png, .jpg, .jpeg">
                        </label>
                        <div *ngIf="src" class="mt-2"> 
                            <img [src]="backImage" width="100px" height="100px">
                        </div>
                        <label>Back Image</label><br>
                    </div>
                 </div>

                </div>   
                <div class="row mt-2">
                    <div class="col-md-12">
                        <button class="btn btn-primary"
                            (click)="addVehicle()">
                            <span class="fas fa-save"></span>
                            {{flags.isAdded?'Saving...':'Save'}}
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>